{{> head }}
{{> navbar }}

    <div class="row">
        <div class="col">
            <h1></h1>
        </div>
        <div class="col">
            <img src="assets/img/placeholder_600x400.svg" class="img-thumbnail">
        </div>
    </div>


{{> footer }}
