{{> head }}
{{> navbar }}

    <div class="row">
        <div class="col">
            <h1>Sobre Mi</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Assumenda accusamus nesciunt animi harum rerum error ad itaque eaque rem est aperiam at,
                    officia exercitationem laboriosam architecto laudantium iure asperiores sapiente dolorem saepe nisi,
                    aspernatur, quod tempora? Nemo maxime quasi aliquid modi tenetur quis error quisquam perferendis tempore numquam natus ducimus minima sint,
                    reiciendis, architecto commodi! Voluptatem commodi quidem porro itaque quibusdam neque,
                    earum, quae, nulla vel libero beatae magnam ipsam temporibus animi enim quasi quod atque expedita suscipit minima ex obcaecati deserunt.
                    Corporis sint, dolor explicabo hic provident voluptatem sapiente doloribus, 
                    excepturi rem commodi placeat sunt iure est delectus culpa?
                </p>
        </div>
        <div class="col">
            <img src="assets/img/emmanuel.jpg" class="img-thumbnail">
        </div>
    </div>


{{> footer }}
