{{> head }}
{{> navbar }}

    <div class="row">
        <div class="col">
            <h1>Sobre Mi</h1>
                <p>
                    Este soy yo , un amante de la buena musica , curioso seudo-fotografo de paisaje y Programador de Profesion.accordion
                    Esta pagian como contaba es una forma de ejemplo de las capacitaciones que he realizado par aparender NodeJs y poder crecer como profesional 
                    de esta area que es el desarrollo de software.
                </p>
        </div>
        <div class="col">
            <img src="assets/img/emmanuel.jpg" class="img-thumbnail">
        </div>
    </div>


{{> footer }}
