{{> head }}

    {{> navbar}}

    <div class="jumbotron">
        <h1 class="display-4">Hola, {{ capitalizar nombre }}!</h1>
        <p class="lead">Estas ingresando a mi primera pagina con Backend NodeJS, a simple.</p>
        <hr class="my-4">
        <p>Espero que sea de utilidad esta pagina , como la ha sido para mi .</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Leer mas</a>
    </div>

{{> footer}}

